

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff93;
    padding: 0 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.task-item{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}


.task-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
}

.trash-icon{
    cursor: pointer;
}
.task-is-done {
    color: #838383;
    text-decoration: line-through
}

input[type=checkbox]{
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    
}